body, html {
	font-family: var(--body-font);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	line-height: normal;

	span, a {
		width: fit-content;
		height: fit-content;
		display: block;
		user-select: none;
	}

	img
	{
		user-select: none;
	}
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 16px;
}

::-webkit-scrollbar-track {
	background: var(--accent-color);
}

::-webkit-scrollbar-thumb {
	background: var(--header-bg);
	border-radius: 8px;
}

:root {
	--font-scale: 1px;
	--header-bg: #300D38;
	--content-bg: white;
	--accent-color: #FBA919;
	--font-color: black;
	--header-font: Jellee, monospace;
	--body-font: Funtype, sans-serif;
}

@font-face {
	font-family: "Jellee";
	src: url("@/assets/fonts/Jellee-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Architect";
	src: url("@/assets/fonts/ArchitectsDaughter.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Funtype";
	src: url("@/assets/fonts/Funtype.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Dogica";
	src: url("@/assets/fonts/dogicapixelbold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Dogica";
	src: url("@/assets/fonts/dogicapixel.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@function font($size)
{
	@return calc(#{$size} * var(--font-scale));
}

